{{ if ($.Param "feedback_show") | default true -}}
<aside class="grid-improve elevation-02" aria-labelledby="feedback">
  <h6 id="feedback">feedback</h6>

  <ul class="small-list">
    {{ $edit := $.Param "feedback_edit" -}}
    {{ $typo := $.Param "feedback_typo" -}}
    {{ $bug := $.Param "feedback_bug" -}}
    {{ with $.File }}
    <li><a href="{{ printf $edit .Path}}" class="muted-with-hover">edit me</a></li>
    {{ end }}
    <li><a href="{{ printf $typo $.Title $.Title $.Permalink}}" class="muted-with-hover">report typo</a></li>
    <li><a href="{{ printf $bug $.Title }}" class="muted-with-hover">report bug!</a></li>
  </ul>
</aside>
{{ end -}}