{{ $pages := partial "list/get-pages.html" . }}
{{ with $pages }}
    <ul class="all-in-one-grid">    
        {{ range . }}
            <li class="skip-grid">
                <article class="skip-grid">
                    <header class="aio-row-full">
                        <h2 id="{{ .LinkTitle | anchorize }}" class="aio-heading">{{ .LinkTitle | safeHTML }}</h2><a href="{{ .RelPermalink }}" class="muted-with-hover">#</a>
                        {{ with (.Description | default .Summary) }}
                        <p class="aio-tagline">{{ . | markdownify }}</p>
                        {{ end }}
                    </header>
                    {{ with .Pages }}
                        <dl class="aio-pages">
                            {{ range . }}
                                <dt class="aio-col1"><a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a></dt>
                                <dd class="aio-col2">{{ (.Description | default .Summary ) | markdownify }}</dd>
                            {{ end }}
                        </dl>
                    {{ end }}
                </article>
            </li>
        {{ end }}
    </ul>
{{ end }}